@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup{
    background-color: v.$pink;
    padding: 5rem 0;

    h3,p{
        text-align: center;
        color: v.$white;
    }
    .day{
        text-transform: uppercase;
        margin: 5rem 0;
    }
}
.sceneries-container{
    @include m.tablet {
        @include m.grid(2, 5rem);
    }
    p{
        color: v.$black;
    }
    .scenery{
        padding-top: 2rem;

        p{
            &:after{
                content: '';
                display: block;
                width: 20rem;
                height: 10rem;
                background-size: 15rem;
                background-repeat: no-repeat;
                background-position: center center;
                margin: 2rem auto 0 auto;
            }
        }
    }
}
.edm .scenery-name:after{
    background-image: url("../img/icono_edm.png");
}
.rock .scenery-name:after{
    background-image: url("../img/icono_rock.png");
}
.calendar{
    @include m.list-reset;
    li{
        padding: 2.5rem;
        font-weight: 700;
        span{
            font-weight: 400;
        }
    }
}

.yellow-bg{
    background-color: v.$yellow;

    li:nth-child(odd){
        background-color: darken(v.$yellow, 20%);
    }
}
.green-bg{
    background-color: v.$green;

    li:nth-child(odd){
        background-color: darken(v.$green, 10%);
    }
}
